.profilePanel{
    min-height: 300px;
    background-size:cover;
}
.profilePanel > .panel-body{
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
}

.profilePanel .profileName{
    float: left;
    font-weight: bold;
    margin: 10px !important;
}

.profilePanel .profileImage{
    float: left;
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 5px;
}
.profilePanel .profileImage img{
   width:100%;
   height: 40px;
   margin-top: 5px;
}
